.element {
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #fff;
  }
  75% {
    background-color: #33f;
  }
  100% {
    background-color: #fff;
  }
}

.row{
  margin: 0;
}