.spade1{
  font-size: 3em;
  font-family: ariel;
}

.spade2{
  min-width: 40em;
}

body{
  background-color: #fff;
}

.title1{
  font-family: arial;
  font-size: 1em;
}

.label2{
  margin-left: 50px;
  font-size: 15px;
}

.bever{
  margin-top: 20px;
  
}

#nightly{
  display: none;
  height: 100px;
  width: 100px;
}

#sunny{
  display: block;
  height: 100px;
  width: 100px;
}

.rectangle_daynight{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: myfirst 5s 2;
  animation-direction: alternate;
}

.body_class{
  background: #112233;
}

a {
  color: grey;
}

.background-tint {
  background: linear-gradient(to left, #cc66ff 0%, #99ccff 100%);
  filter: brightness(80%);
}

.text_class{
  color: white;
}

.abcde{
  background: white;
}

.header_class{
  background: black;
}

.card {
  margin-bottom: 20px;
  border: 2px solid #bbb;

}

.card-font {
  font-family: Cambria;
  color: black;
}

.div1{
  /*background: linear-gradient(to left, #cc66ff 0%, #99ccff 100%);
  */
  margin-bottom: 10px;
  padding: 50px;
  text-shadow: 2px 0px black;
}

.div12{
  /*background: linear-gradient(to left, #cc66ff 0%, #99ccff 100%);
  */
  margin-bottom: 10px;
  padding: 50px;
}

.copy-text{
  background-color: white;
  border: 2px #99ccff solid;
  border-radius: 10px;
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 500;
  font-style: oblique;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.copy-text:hover, .copy-text:active{
  background-color: rgb(180, 241, 180);
}


.Announcement-body{
  box-shadow: 4px 4px 5px black;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  height: 50px;
  width: 100%;
}

.Announcement-label{
  display: inline-block;
  width: 30%;
  height: 50px;
  color: black;
  background-color: white;
  background: rgb(2,0,36);
  background: linear-gradient(40deg, rgba(250,0,60,1) 0%, rgba(130,124,60,0.5) 65%, rgba(0,212,255,1) 130%);
  
}

.nav-good-border1{
  opacity: 1;
  position: fixed; 
  top: 0; 
  z-index: 999; 
  width: 100%;
  border-left: 10px solid;
  border-right: 0px;
  border-style: solid;
  border-bottom: 10px solid blue;

  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 10 100%;
  box-shadow: 0px 0px 10px 0px #ddd;

}

.triangle-right{
  width: 60%;
  float: right;
  font-family: verdana;
  font-size: 2em;
  background-color: white;

}

.endIcon{
  width: 50px;
  height: 50px;
}

.border_class{
  border:1px solid blue;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.Hover-turn{
  opacity: 1;
  color: grey;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.carousel-elem{
  width: 60%;
  height: 80%;
  margin-left: 25%;
}
#Xswitch{
  width: 120%;
  cursor: pointer;
  user-select: none; /* Standard */

}

#Xswitch:focus{
  border:2px red solid;
  padding: 0px;
	border-radius: 3px;
	background-color: #111111;
}

.git_id_shift{
  margin: 2px;
}

.git_id_shift:hover{
	margin: 2px;
  border:2px white solid;
	border-radius: 100px;
	background-color: #aaaafa;
}

.git_id_light_dark{
  margin: 2px;
  border:2px white solid;
	border-radius: 100px;
	background-color: #aaaafa;

}

.git_id_light_dark:hover{
	border:2px white solid;
	border-radius: 100px;
  background-image: linear-gradient(315deg, #a35160 10%, #fff 100%);
}

#git_id:hover{
	border:2px white solid;
	border-radius: 100px;
	background-color: #aaaafa;
}
#git_id:focus{
	border:2px white solid;
	border-radius: 100px;
	background-color: #aaaafa;
}
#linkedin_id:hover{
  border:2px white solid;
  border-radius: 10px;
  background-color: #ada;
}
#linkedin_id:focus{
  border:2px white solid;
  border-radius: 10px;
  background-color: #ada;
}

.Xcard-body{
  text-align: center;
  border: 2px solid #bbb;
  border-radius: 5px;
  margin: 10%;
}

.Xcard-body:hover{
    box-shadow: 0px 0px 100px 0px #ddd;
}

.xCard-img{
  width: 100%; 
  height: 200px;
}
.xCard-head{
  overflow: hidden;
}

.xCard-head:hover .xCard-img,
.xCard-head:focus .xCard-img{
  transform: scale(1.2);
  transition: 0.5s;
}

.Xcard-foot > span{
  font-style: italic;
}

.Xcard-foot > p{
  border-top: #2196d4 2px solid;
  background-color: #2196F3;
  min-height: 50px;
  padding-top: 10px;
  margin: 0;
}

.Xcard-foot > p > a{
  color: #fdfdfd;
}

/*   /////////////////////////////////      //////////////////////////   */
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.close_light{
  display: none;
  font-size: 1em;
}

.open_light{
  display: block;
  font-size: 1em;
}

.close_dark{
  display: block;
  font-size: 1em;
}

.open_dark{
  display: none;
  font-size: 1em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.exbar{
  background-color: #5fefbc;
  height: 50px;
  margin-bottom: 25px;
  overflow: visible;
  padding: 10px;
  border:2px solid black;
  border-radius: 20px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Active_{
  color: red;
}

.active{
  opacity: 0.8;
  background-color: #a38560;
background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%);

  border: 1px;
  border-radius: 3px;
}

@media screen and (max-width: 1000px) {
  .col-fix{
    font-size: 0px;
    color: white;
    background-color: #111111;
  }
  .media{
    padding: 10px 0px 10px 10px;
    display: block;
  }
}