		/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

body{
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: black;
}
#line-1 > a{
    color: blue;
  }

.hello{
  background-color: red;
  color: green;
}

/* fonts */

.divFont1{
      font-size: 1em;
      text-align: center;
      color: #fcedd8;
      font-family: 'Niconne', cursive;
      font-weight: 100;
      text-shadow: .5px .5px 0px #eb452b, 
                  1.0px 1.0px 0px #efa032, 
                  1.5px 1.5px 0px #46b59b, 
                  2.0px 2.0px 0px #017e7f, 
                  2.5px 2.5px 0px #052939, 
                  3.0px 3.0px 0px #c11a2b;
}


/* end fonts */


/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 700ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@media screen and (max-width: 992px) {
  #fgg{
    font-size: 120%;
    text-align: left;
  }
  #fgg > a{
    color: blue;
  }
}
@media screen and (max-width: 550px) {
  .triangle-right{
    font-size: 1em;
  }
}